body{
	margin: 0px;
	padding: 0px;
}

#container{
	border: 1px white hidden;
	width: 700px;
	height: 650px;  
	margin: auto;

}

#cabecera{
	border: 1px white hidden;
	width: 100%;
	height: 20%;
	background-image: url(img/fondo.png);
	background-color: gray;
	border-radius: 15px 15px 0px 0px;


}

#cabecera-izq{
	border:1px hidden green;
	width: 60%;
	height: 100%;
	float: left;
}

#container-text1{
	border: 1px hidden purple;
	width: 99%;
	height: 40%;
	vertical-align: sub;

}

#text1{
	background-color: blue;
	font: 19px arial black;
	color: white;
}

#text2{
	background-color: white;
	font: 28px arial black;
	color: black;
}

}

#cabecera-der{
	border: 1px hidden green;
	width: 30%;
	height: 100%;
	float: right;
}



#menu{
	padding-top: 40px;
	border: 1px #396A5D solid;
	width:100%;
	height: 10%;
	text-align: center;
	font-size: 20px;
	font: arial;
	margin-bottom: 2%;
	background-color: #396A5D;
	border-radius: 0px 0px 15px 15px;
}

a{	
	margin: 10px;
	height: 500px;
	color: white;
	text-decoration-line: none;
}

.a2{

	color: blue;
}


.seccion{
	border: 1px solid yellow;
	width: 60%;
	height: 50%;
	margin-bottom: 2%;
	float: left;
	border-radius: 15px 15px 15px 15px;
}

.img1{
	border: 3px solid black;
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	width: 100px;
	height: 100px;
	border-radius: 15px;
}


.img2{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 15px;
}

#perro{
	float: right;
	image-rendering: auto;
	width: 15%;
	height: 50%;
	margin-right: 5%;
}

#gato{
	float: right;
	image-rendering: auto;
	width: 15%;
	height: 50%;
}

.articulo1{
	background-color: #DBEC4C;
	border: 1px solid #DBEC4C;
	width: 100%;
	height: 48%;
	margin-bottom: 2%;
	border-radius: 15px 15px 0px 0px;
}

.articulo2{
	background-color: #DBEC4C;
	border: 1px solid #DBEC4C;
	width: 100%;
	height: 48%;
	margin-bottom: 2%;
	border-radius: 0px 0px 15px 15px;
}

.seccion-derecha{
	background-color: #396A5D;
	border: 1px solid white;
	height: 50%;
	width: 36%;
	float: right;
	color: white;
	border-radius: 15px;


}
#tituform{
	background: black;
	border: 1px solid black;
	width: 100%;
	height: 10%
	color:white;
	text-align: center;
	font-size: 12px;
	border-radius: 15px 15px 0px 0px;

	

}

#formulario{
	margin-top: 2px;
	margin:5%;
}

.input{
	
	width: 120px;
	height: 20px;
	
}

.label{
	
}

#valid{
	margin-left: 30%;
}

.pie{
	background-color: #21443B;
	border: 1px solid white;
	width: 100%;
	height: 15%;
	clear: left;
	border-radius: 0px 0px 15px 15px;
}

.pie-texto{
	font-size: 20px;
	font: Arial;
	color: white;
	text-align: center;
}

#nada{
	border:0px;
}